:root {
	--form-height: 85px;
}
body {
	font-weight: 100;
}
#app > .row {
	height: 100vh;
	align-items: stretch;
}
aside {
	border-right: solid 1px #eee;
}
aside li.contact {
	border-bottom: solid 1px #eee;
}
aside li.contact .thumbnail {
	flex-grow: 0;
}
aside li.contact .thumbnail img {
	width: auto;
	height: 55px;
}
aside li.contact .summary {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
main {
	position: relative;
	height: 100vh;
}
#listMessages {
	height: calc(100vh - var(--form-height));
	overflow-y: auto;
}
.message_content {
	max-width: 480px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.9);
}
.message--mine .message_content {
	margin-right: auto;
	border-color: dodgerblue;
}
.message--not-mine .message_content {
	margin-left: auto;
	border-color: var(--warning);
}
.message--not-mine p {
	text-align: right;
}
#sendMessage {
	position: absolute;
	left: 0;
	bottom: 0;
	height: var(--form-height);
}
#sendMessage .form-control {
	resize: none;
}